*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aquamarine;
}

#create-account-form{
    width: 400px;
    padding: 20px;
    text-transform: uppercase;
    background-color: #fff;
    margin: 1em auto;
    border-radius: 1.5em;


}

.title{
    margin-bottom: 20px;
}

h2{
    font-size: 1.5em;
}

.input-group{
    margin: 0.5em 0;
    position: relative;

}
.required-color{
    color: red;
}
.input-group label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 500;


}

.input-group input{
    display: block;
    width: 100%;
    padding:10px;
}

.error input {
    border: 3px red solid;
    font-size: 1em;
}
.error i.fa-circle-exclamation {
    visibility: visible;
    color: red;
}

.success input {
    border: 3px green solid;
}


.input-group i{
    position: absolute;
    right: 10px;
    top: 35px;
    visibility: hidden;
}
.error i.fa-circle-exclamation {
    visibility: visible;
    color: red;
}
.success i.fa-circle-check{
    visibility: visible;
    color: green;
}

.input-group p{
    font-size: 10px;
    color: red;
    visibility: hidden;

}
.error p {
    visibility: visible;
}

.btn{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: orange;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 0.3em;


}
